<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styles.css" />
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/d3-template-plugin/build/d3-template.min.js"></script>
    <script type="text/javascript" src="./scripts.js"></script>
    <!-- Connection on Landbot -->
    <script SameSite="None; Secure" src="https://static.landbot.io/landbot-3/landbot-3.0.0.js"></script>
    <script>
        var myLandbot = new Landbot.Container({
            container: '#myLandbot',
            configUrl: 'https://chats.landbot.io/v3/H-857673-C8YL8OXTB69A3FSF/index.json',
        });


        //Display the data from the landbot
        function myFunction(data) {
            let cible = data

            //Initiliaze the newData that will come from the response of the user
            let newData = convertData(cible);

            buildChart(null, newData);
        }
    </script>
</head>

<body>

    <div id="myLandbot" style="width: 100%; height: 100vh"></div>


    <svg viewBox="0 0 500 500">
            <!-- For the logo -->
            <defs>
                <clipPath id="circleView">
                            
                    <circle cx="250" cy="255" r="255" fill="#FFFFFF" />            
                </clipPath>
            </defs>
            <image x="42%" y="0%" width="80" height="500"  xlink:href="teslalogo.png" clip-path="url(#circleView)"/>
            
            <!-- Perform all drawing and calculations from center of SVG -->
            <g transform="translate(250,250)">
        
                <!-- Add background circle -->
                <circle data-attr-r="{{backgroundRadius}}"></circle>
        
                <!-- Repeat for every objective -->
                <g data-repeat="{{d}}">
        
                    <!-- Rotate objective into position (all calculations are relative to angle 0 from here on) -->
                    <g class="objective" data-attr-transform="{{`rotate(${partWidthInDegrees * i})`}}">
        
                        <!-- Repeat for every rate level -->
                        <g data-attr-class="{{'family' + families[d.family]}}" data-repeat="{{d3.range(1, d.rate + 1)}}">
        
                            <!-- Draw single wedge at current rate level -->
                            <path data-attr-d="{{wedgeArc(d)}}"></path>
                        </g>
        
                        <!-- Draw objective name -->
                        <g class="name">
                           
                            <text data-attr-x="{{textPosition}}" data-attr-transform="{{`rotate(${partWidthInDegrees / 2})`}}">{{d.name}}</text>
                        </g>
                    </g>
                </g>
        
                <!-- Repeat for every group -->
                <g data-repeat="{{groups(d)}}">
                    <g class="group">
                        <path id="{{d.id}}" data-attr-d="{{groupArc(d)}}"></path>
                        <text dy="-35">
                            <!-- Align the following text along the arc above (reference it using xlink:href) -->
                            <!-- Safari needs the xlink namespace to function correctly -->
                            <textPath xlink:data-attr-href="{{'#' + d.id}}" startOffset="50%">{{d.name}}</textPath>
                        </text>
                    </g>
                </g>
            </g>
        </svg>




    <script type="text/javascript">
        //Display the data in  the diagram
        function convertData(oldData) {
            let newData = [];


            for (prop in oldData) {
                if (!oldData[prop]) {
                    continue;
                }
                for (prop2 in oldData[prop]) {
                    newData.push({
                        name: oldData[prop][prop2].name,
                        rate: oldData[prop][prop2].reponse,
                        group: `Value for ${oldData[prop].cible}`,
                        family: oldData[prop].cible


                    });
                }

            }

            return newData;


        }


        /*
            This one has been taken here : http://techslides.com/convert-csv-to-json-in-javascript
            It is just usefull to convert a STRING value into an ARRAY OF OBJECTS, as expected by D3JS.
        */
        function csvJSON(csv) {
            var lines = csv.split("\n");
            var result = [];
            var headers = lines[0].split(",");

            for (var i = 1; i < lines.length; i++) {
                var obj = {};
                var currentline = lines[i].split(",");

                for (var j = 0; j < headers.length; j++) {
                    obj[headers[j]] = currentline[j];
                }
                result.push(obj);
            }
            return result;
        }
    </script>

</body>

</html>