body {
    display: flex;
    background-color: #e9efec;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cGF0aCBkPSJNMjggNjZMMCA1MEwwIDE2TDI4IDBMNTYgMTZMNTYgNTBMMjggNjZMMjggMTAwIiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=);
}

svg {
    max-width: 90vw;
    /* 90% of view width */
    max-height: 90vh;
    /* 90% of view height */
    display: block;
    margin: auto;
    background-color: #e9efec;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cGF0aCBkPSJNMjggNjZMMCA1MEwwIDE2TDI4IDBMNTYgMTZMNTYgNTBMMjggNjZMMjggMTAwIiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=);
}


/*CHANGE THE COLOR FOR EACH FAMILY/ CIBLE*/

.family1 {
    fill: #accf5d;
}

.family2 {
    fill: #e17173;
}

.family3 {
    fill: #65c4be;
}

.family4 {
    fill: #f59640;
}

text {
    font-family: sans-serif;
    font-size: 12px;
}

circle {
    stroke: none;
    opacity: 0.3;
}

.objective path {
    stroke: #525354;
    stroke-width: 2;
}

.group path {
    stroke: #525354;
    stroke-width: 1;
    fill: none;
}

g.name {
    transform: rotate(-90deg);
    /* Align text with angle 0 */
}

.name text {
    /*for positioning the text either outside or inside of chart*/
    text-anchor: middle;
    /* Horizontal align */
    alignment-baseline: middle;
    /* Vertical align */
    fill: #342b38;
}

.group text {
    text-anchor: middle;
    font-weight: bold;
}